@{
    ViewBag.Title = "Pocetna";
}

<div class="jumbotron">
    <H1 align="Center"> SEA TURISTIČKA AGENCIJA</H1>
    <h2 align="center">Naša destinacija nikada nije mjesto, već novi način posmatranja stvari</h2>
    <!--<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>
<div id="slike" class="carousel slide" data-ride="carousel" style="margin-top:-5px">
    <ol class="carousel-indicators">
        <li data-target="#slike" data.slide-to="0" class="active"></li>
        <li data-target="#slike" data.slide-to="1"></li>
        <li data-target="#slike" data.slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Content/Images/kuba.jpg" />
            <div class="carousel-caption">
                <p>Kuba</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/Images/sejseli.jpg" />
            <div class="carousel-caption">
                <p>Sejseli</p>
            </div>
        </div>
        <div class="item">
            <img src="~/Content/Images/svedska.jpg" />
            <div class="carousel-caption">
                <p>Švedska</p>
            </div>
        </div>
    </div>

    <a class="left carousel-control" herf="slike" role="button" data-slide="prev">
        <span class="icon-prev"></span>

    </a>

    <a class="right carousel-control" herf="slike" role="button" data-slide="next">
        <span class="icon-next"></span>
        <span class="sr-only">Next</span>
    </a>
    <script>
        $("#carousel").carousel(
            {
                interval: 2000

            });
    </script>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>ZAŠTO BAŠ MI</h2>
        <p>
            Pridajemo veliki značaj realizaciji putovanja na samoj destinaciji i zato imamo veoma veliki broj angažovanih ljudi koji rade da bi se putnici osjećali sigurno tokom boravka, 24 sata dnevno. Mladi edukovani vodiči, koordinatori, animatori, dj-evi, fotografi, medicinska podrška, tehnička podrška, asistenti realizacije, predstavnici agencije na terenu su samo neki od ljudi koji se trude da Vaš odmor protekne bez ikakvih nepredviđenih okolnosti.

        </p>
    </div>
    <div class="col-md-6">
        <h2>O NAMA:</h2>
        <h3>Život je knjiga, a oni koji ne putuju čitaju samo jednu stranu.</h3>
        <p>
            Mi, u SEA-u , znamo da u životu svake osobe bitan dio zauzimaju putovanja i zbog toga naš tim već 5 godina vrijedno radi na tome da ona budu
            profesionalno organizovana i osmišljena do najsitnijih detalja. Baš ti detalji se pamte i prepričavaju, a vremenom postaju najljepše uspomene.
            Pozitivne uspomene više desetina hiljada putnika, naša su najveća referenca u turizmu. One odvajaju Let’s Go putovanja od običnih putovanja.
            Znamo koliko vrijedno radite da bi sebi omogućili putovanje i zato nam je jako bitno da budete zadovoljni našim uslugama kako bi time zaslužili Vašu preporuku.
        </p>
    </div>
    <!--<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>-->
</div>