
@{
    ViewBag.Title = "ONama";
}



<h2>Informacije</h2>



<address>
    <strong>Adresa:</strong><br />
    Titova 24<br />
    Sarajevo, BIH 71000<br />
</address>


<style>
    #map {
        height: 400px;
        width: 500px;
    }
</style>
<div class="row">
	<!-- <div id="map"></div>
	 <script>
		 var map;
		 function initMap() {
			 map = new google.maps.Map(document.getElementById('map'), {

				 center: { lat: 43.857549, lng: 18.420762 },
				 zoom: 20
			 });
			 var marker = new google.maps.Marker({
				 position: { lat: 43.857549, lng: 18.420762 },
				 map: map
			 });
		 }
	 </script>
	 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAfnYhWEi4yeT1ljaGTsfks33s63-ce1aE=initMap"
			 async defer></script>-->
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2876.8496298965147!2d18.413415514876707!3d43.85894527911484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4758c8da72017ab1%3A0xcfda5ee5bc22014d!2sMar%C5%A1ala+Tita+24%2C+Sarajevo+71000!5e0!3m2!1sen!2sba!4v1528651982250" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<br /> <br />

<address>
    <strong>Telefon:</strong>  033-550-540 <br />
    <strong>E-mail:</strong> <a href="mailto:turistagSEA@gmail.com">turistagSEA@gmail.com</a>
   
</address>

